<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<%= link_to "Back to all articles", articles_path%><br>
<%= link_to 'delete', article_path(@article), method: :delete, data: {confirm: "Really dlete this article?"}%><br>
<%= link_to 'Edit', edit_article_path(@article)%>

<h3>Comments(<%= @article.comments.length %>)</h3>
<%= render @article.comments %>
<%= render 'comments/form'%>